.navigation-bar{
    background-color: #333;
    color: white;
    padding: 2vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
}
.header-title{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    justify-self: center;
    align-items: center;
    cursor: pointer;
}
.account-link{
    text-decoration: underline;
    cursor: pointer;
    justify-self: flex-end;
    align-self: center;
    text-align: right;
    position: absolute;
    right: 2vw;
}
.navigation-bar-container{
    width: 100%;
}
.home-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.t-account{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
    width: 80vw;
    column-gap: 10px;
    row-gap: 10px;
    background-color: darkslategrey;
}
.t-account h2{
    text-align: center;
    height: 90%;
}
.task-debt-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.task-container{
    display: flex;

}
.t-account *{
    background-color: whitesmoke;
}